/* MAIN PAGE CONTAINER STYLES */
.main-side-styles {
    margin: 2% 2% 0% 1%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;

}


.edit-styles-button {
    background-color: #272829;
    color: #898989;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.edit-styles-button:hover {
    background-color: green;
    color: white;
}

.account-container-styles {
    margin-top: 20px;
    border-top: 1px solid #898989;
    padding-top: 10px;
}

.account-buttons-containers {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings-headings {}


/* MEDIA QUERIES */

@media (width<=840px) {
    /* .main-side-styles{
     padding-bottom: 3%;
    } */

    .account-container-styles {
        padding-bottom: 10%;
    }

    .settings-headings {
        font-size: 1.25rem;
    }

    .main-side-styles{
        margin:2%;
    }
}