


.main{
    margin-top: 20px;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}


/* MEDIA QUERIES! */
@media (width <= 840px) {
    .main{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap:30px;
    }
}
