/* MAIN CONTAINER STYLES! */
.main-section-container {
    height: 100%;
    overflow: auto;
    margin: 0 2% 0 1%;
}

.main-section-container::-webkit-scrollbar {
    display: none;
}

/* OVERVIEW SECTION STYLES! */
.overview-section {
    margin-top: 2%;
    /* display: flex;  */
    /* flex-direction: column; */
    /* margin-right: 2%; */
    /* overflow: hidden; */
    width: 100%;
    /* height:100%; */
}

.three-boxes-container {
    margin-top: 15px;
    display: inline-flex;
    width: 100%;
    gap: 2%;
    /* overflow: auto; */
}

/* RECENT TRANSACTION STYLES! */
.recent-transactions-section {
    margin-top: 2%;
    height: 100%;
    margin-bottom: 5%;
    width: 100%;
}

@media (width <=560px) {
    .main-section-container {
        margin: 0 1%;
        width: 100%;

    }

    .three-boxes-container {
        width: 100vw;
        overflow: auto;
    }

    .recent-transactions-section{
        width:100vw;
    }

}

@media (width >560px) and (width <= 868px) {
    .main-section-container {
        margin: 0 1%;
        width: 100%;

    }

    .three-boxes-container {
        width: 100vw;
        overflow: auto;
    }

    .recent-transactions-section{
        width:100vw;
    }

}